form,
.form {
  position: relative; 
}

input, textarea {
  border: 1px solid $light;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: $pad;
  margin: 0;
  width: 100%;
  &:focus {
    outline: none; 
  }
}

textarea {
  resize: vertical;
}

label {
  background-color: $opaque;
  display: block;
  line-height: 1;
  margin-top: $pad;
  margin-bottom: $pad/2;
}

.required>label::after {
  content: " *";
}

.group {
  display: block;
  position: relative;
  vertical-align: middle;
}

.checkbox>input,
.radio>input,
.checkbox>label,
.radio>label {
  clear: none;
  display: inline;
  line-height: $pad;
  margin-top: $pad/2;
  margin-bottom: $pad/2;
  width: auto;
}

.inlined {
  display: block;
  margin-bottom: $pad;
  position: relative;
  width: 100%;
}
  .inlined>input,
  .inlined>.field {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .inlined>button,
  .inlined>.button,
  .inlined>input.button{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .inlined>label,
  .inlined>.label {
    border: 1px solid $light;
    display: inline-block;
    margin: 0;
    padding: $pad;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

.rounded {
  >input, 
  >.field,
  >textarea {
    border-radius: $pad*2;
  }
  >button,
  >.button,
  >input.button {
    border-radius: 0 $pad*2 $pad*2 0;
  }
  >label,
  >.label {
    border-radius: $pad*2 0 0 $pad*2;
  }
}

.rounded.button {
  border-radius: $pad*2;
}

button,
.button,
input.button {
  background-color: $white;
  border: 1px solid $light;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 100%;
  max-width: 200px;
  padding: $pad;
  margin: 0;
  position: relative;
  &:focus {
    outline: none; 
  }
  &:hover {
    background-color: $opaque + $brighten;
  }
}

button.toggle,
.button.toggle,
input.button.toggle {
  max-width: 100%;
  @media screen and (min-width: $column*0.75) {
    display: none;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.deferred {
  background: $light;
}
