// Simple Reset

body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

// Columns

.container {
  max-width: $column;
  margin: auto;
  position: relative;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.inner {
  padding: $pad; 
}

.full, .twothird, .half, .third {
  position: relative;
  width: 100%;
  @media screen and (min-width: $column*0.75) {
    float: left;
  }
}

@media screen and (min-width: $column*0.75) {
  .twothird {
    width: 66.66%;
  }

  .half {
    width: 50%;
  }

  .third {
    width: 33.33%; 
  }
}

// Straight Row

.line, .item {
  vertical-align: middle;
  text-align: center;
}

.line {
  display: table-row; 
}

.item {
  display: table-cell;
  width: 1%;
}

.item > * {
  display: inline;
}
