// Shades

$white: #F9F9F9;
$opaque: #EEE;
$light: rgba(0,0,0,0.1);
$heavy: rgba(0,0,0,0.2);
$brighten: #333;

// Layout Vars

$column: 960px;
$pad: 20px;

// UX Vars

$trans: 0.3s;

// Text

$fixed-font-size: 18px;
